body {
    font-family: 'Open Sans', sans-serif;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    overflow: hidden;
}

.leaflet-container {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.logoOp {
    display: block;
    width: 150px;
    max-width: 30vw;
    position: absolute;
    top: 20px;
    left: 20px;
    pointer-events: none;
    z-index: 1000;
}

.logoDuha {
    display: block;
    width: 80px;
    max-width: 15vw;
    position: absolute;
    bottom: 20px;
    right: 20px;
    pointer-events: none;
    z-index: 1000;
}

.leaflet-control-attribution {
    display: none;
}
